@model IEnumerable<OsobyZaginioneFinal.Models.osoba>

@{
    ViewBag.Title = "Index";
}

<h2>Jesteś zalogowany masz możliwość dokonania zmiany w bazie danych, zmian statusu i rejestracji nowych użytkowników</h2>
<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
        <li>@Html.ActionLink("Lista osób", "Index", "Osoba")</li>
        <li>@Html.ActionLink("Miasta", "Index", "City")</li>
        <li>@Html.ActionLink("Status Zaginionego", "Index", "Status")</li>
        <li>@Html.ActionLink("Użytkownik", "Index", "Users")</li>

    </ul>
</div>
<p>
    @Html.ActionLink("Dodaj osobę zaginioną", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.firstname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.alias)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.city.city1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status.status1)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.firstname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.alias)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tel)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.city.city1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status.status1)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
